<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% include head.html %}

    <script type="text/javascript">
      if (window.location.hostname && window.location.hostname == 'localhost') {
        var disqus_developer = 1;
        var disqus_url = "http://matthewtodd.org{{ page.url }}";
      }
    </script>
  </head>

  <body>
    <p class="about"><a href="/about.html">Matthew Todd</a></p>
    <h1>{{ page.title }}</h1>
    <p class="date">{{ page.date | date: "%A, %B %e, %Y"}}</p>

    {{ content }}

    <h2>Comments</h2>

    <div id="disqus_thread">
    </div>

    <script type="text/javascript" src="http://disqus.com/forums/matthewtodd/embed.js"></script>

    <noscript>
      <p><a href="http://disqus.com/forums/matthewtodd/?url=ref">View comments on disqus&hellip;</a></p>
    </noscript>
  </body>
</html>
