<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" />
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="http://feeds2.feedburner.com/matthewtodd_org" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>{{ page.title }} &laquo; Matthew Todd</title>
  </head>

  <body>
    <h1><a href="/about.html">Matthew Todd</a></h1>
    <h2>
      <span class="date">{{ page.date | date: "%Y %B %e"}}</span>
      {{ page.title }}
    </h2>
    {{ content }}
  </body>
</html>
