body {
  color: #111;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 2em auto;
  width: 26em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h1 a {
  text-decoration: none;
}

h2 {
  border-bottom: 1px solid #555;
  margin-bottom: 0.5em;
  position: relative;
}

h2 .date {
  color: #555;
  font-size: 0.8em;
  position: absolute;
  text-align: right;
  right: 33.5em;
  width: 8em;
}

h3 {
  font-style: italic;
  margin-bottom: 0.5em;
}

h3:before {
  content: "⌘ ";
}

a {
  color: inherit;
}

a:hover {
  background-color: #f90;
}

img {
  border: 1px solid #000;
}

img.inset {
  float: left;
  margin: 0 1em 1em 0;
}

p {
  clear: both;
  margin-bottom: 1em;
}

p.update {
  border: 3px double #555;
  padding: 0.5em;
}

ul {
  list-style: circle;
  margin-bottom: 1em;
  padding-left: 2em;
}

ul.links {
  clear: both;
}

ul.posts {
  list-style: none;
  padding-left: 0;
}

ul.posts li {
  position: relative;
  left: 7.2em;
}

ul.posts li .date {
  color: #555;
  font-size: 0.8em;
  position: absolute;
  text-align: right;
  right: 33.5em;
  width: 8em;
}
