.highlight .c  { color: #5F5A60; font-style: italic; }
.highlight .c1 { color: #5F5A60; font-style: italic; }
.highlight .k  { color: #CDA869; }
.highlight .kp { color: #CDA869; }
.highlight .mi { color: #CF6A4C; }
.highlight .nb { color: #7587A6; }
.highlight .nc { color: #9B703F; }
.highlight .nf { color: #9B703F; }
.highlight .no { color: #9B859D; }
.highlight .o  { color: #CDA869; }
.highlight .s1 { color: #8F9D6A; }
.highlight .s2 { color: #8F9D6A; }
.highlight .sb { color: #8F9D6A; }
.highlight .si { color: #DAEFA3; }
.highlight .sr { color: #E9C062; }
.highlight .ss { color: #CF6A4C; }

#content .highlight pre {
  background-color: #141414; color: #F8F8F8;
}
