<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/stylesheets/normalize.css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/screen.css" media="screen" />
  <link rel="alternate" href="/feed.atom" type="application/atom+xml" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <link rel="profile" href="https://gmpg.org/xfn/11" />
  <link rel="me" href="https://github.com/matthewtodd" />
  <link rel="me" href="https://hachyderm.io/@matthewtodd" />

  <title>{{ page.title }}</title>
</head>
