body, select, input, textarea {
  font-family: Georgia, serif;
}

body {
  margin: 1.231em;
}

h2, h3, h4, h5, h6 { font-weight: normal; }

header, section {
  margin-bottom: 1.231em;
}

header h1 {
  font-size: 2em;
}

@media print {
  a.self[href]:after { content: "" }
}
