/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* LAYOUT - General */
body {
  color: #111;
  font-family: Palatino, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 1.4em;
  margin: 2em auto 10em;
  width: 36em;
}

#page header,
#post article header,
#post section header {
  margin-bottom: 1.4em;
}

#page header h1 {
  font-size: 2em;
}

#post header h1 {
  color: #888;
  font-size: 0.8em;
}

#post article header h1 {
  color: #111;
  font-size: 2em;
  line-height: 1.4em;
}

#post section header h1,
#page section header h1 {
  color: #111;
  font-size: 1.25em;
}

article, section {
  margin-bottom: 2.1em
}

h2 {
  font-size: 1.25em;
  line-height: 1em;
  margin: 0.5em 0;
}

time {
  color: #888;
  font-size: 0.8em;
  line-height: 1.75em; /* 1.4 * 5/4 */
}

p {
  margin-bottom: 1.4em;
  text-align: justify;
}

p.update {
  border: 3px double #888;
  padding: 0.5em;
}

blockquote {
  color: #888;
  margin: 0 1em;
}

pre {
  font-size: 0.8em;
  line-height: 1.2em; /* code looks better without leading */
  margin-bottom: 1.4em;
}

ol, ul {
  margin-bottom: 1.4em;
  padding-left: 2em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: circle;
}

a {
  color: inherit;
}

a:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

img {
  border: 1px solid #000;
}

img.inset {
  float: left;
  margin: 0 1em 1em 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  position: relative;
  left: 8em;
}

nav ul li time {
  font-size: 0.8em;
  line-height: 1.75em; /* 1.4 * 5/4 */
  position: absolute;
  text-align: right;
  left: -11em; /* 10 + padding */
  width: 10em; /*  8 * 5/4 */
}


/* SYNTAX HIGHLIGHTING */
.highlight .c  { color: #5F5A60; font-style: italic; }
.highlight .c1 { color: #5F5A60; font-style: italic; }
.highlight .k  { color: #CDA869; }
.highlight .kp { color: #CDA869; }
.highlight .mi { color: #CF6A4C; }
.highlight .nb { color: #7587A6; }
.highlight .nc { color: #9B703F; }
.highlight .nf { color: #9B703F; }
.highlight .nn { color: #9B703F; }
.highlight .no { color: #9B859D; }
.highlight .o  { color: #CDA869; }
.highlight .s1 { color: #8F9D6A; }
.highlight .s2 { color: #8F9D6A; }
.highlight .sb { color: #8F9D6A; }
.highlight .si { color: #DAEFA3; }
.highlight .sr { color: #E9C062; }
.highlight .ss { color: #CF6A4C; }
.highlight .vi { color: #7587A6; }

.highlight {
  background-color: #141414;
  color: #F8F8F8;
  margin-bottom: 1em;
  overflow: scroll;
}

.highlight pre {
  margin-bottom: 0;
  padding: 1em;
}


/* COMMENTS */
section.comments {
  background-color: #f0f8ff;
  font-size: 1em !important;
  line-height: 1.4em !important;
  padding: 1em;
}

#dsq-content {
  font-size: 1em !important;
  line-height: 1.4em !important;
}

#dsq-content a:hover {
  background-color: #000 !important;
  color: #fff !important;
  text-decoration: none !important;
}

#dsq-comments-title {
  display: none;
}

.dsq-comment {
  margin-bottom: 1.4em !important;
}
