<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="/stylesheets/screen.css" media="screen" />
  <link rel="alternate" href="http://feeds.feedburner.com/matthewtodd_org" type="application/atom+xml" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://matthewtodd.myopenid.com/" />
  <link rel="openid2.local_id" href="http://matthewtodd.myopenid.com/" />
  <link rel="openid2.provider" href="http://www.myopenid.com/server" />
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=matthewtodd.myopenid.com" />

  <link rel="profile" href="http://gmpg.org/xfn/11" />
  <link rel="me" href="http://calendaraboutnothing.com/~matthewtodd" />
  <link rel="me" href="http://dailymile.com/people/matthewtodd" />
  <link rel="me" href="http://dopplr.com/traveller/matthewtodd" />
  <link rel="me" href="http://flickr.com/photos/mtodd" />
  <link rel="me" href="http://github.com/matthewtodd" />
  <link rel="me" href="http://google.com/profiles/matthew.todd" />
  <link rel="me" href="http://linkedin.com/in/matthewtodd" />
  <link rel="me" href="http://twitter.com/matthewtodd" />
  <link rel="me" href="http://workingwithrails.com/person/6803-matthew-todd" />

  <title>{{ page.title }}</title>
</head>
