<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" />
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="http://feeds2.feedburner.com/matthewtodd_org" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://matthewtodd.myopenid.com/" />
<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=matthewtodd.myopenid.com" />
<title>{{ page.title }}</title>
