<ul>
  <li>
    <p><img src="/images/matthewtodd.jpg" width="150" height="165" style="border: 1px solid black" /></p>
  </li>

  <li>
    <h2>About</h2>
    <p>
      Valerie and I live in <a href="http://maps.google.com/maps?q=moshi+tz&amp;z=5">Moshi, Tanzania</a>,
      at the base of Mt. Kilimanjaro. She's the director of <a href="http://amanikids.org/">Amani Children's
      Home</a>, and I'm consulting here and there.
    </p>
  </li>

  <li>
    <h2 class="widgettitle">Presently</h2>
    <ul id="twitter_update_list">
      <li>Loading Twitter status&hellip;</li>
    </ul>
  </li>

  <li>
    <h2>Subscribe</h2>
    <p><a href="http://feeds2.feedburner.com/matthewtodd_org"><img src="http://feeds2.feedburner.com/~fc/matthewtodd_org?bg=993300&amp;fg=ffffff&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
  </li>

  <li>
    <h2>GitHub</h2>
    <ul id="github_repository_list">
      <li>Loading GitHub repositories&hellip;</li>
    </ul>
  </li>
</ul>
