<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="post">
  <header>
    <h1><a href="{{ site.url }}/about.html">Matthew Todd</a></h1>
  </header>

  <article>
    <header>
      <h1>{{ page.title }}</h1>
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate="pubdate">
        {{ page.date | date: "%A, %B %e, %Y"}}
      </time>
    </header>

    {{ content }}
  </article>

  <section class="comments">
    <header>
      <h1>Comments</h1>
    </header>

    <div id="disqus_thread">
    </div>

    <script type="text/javascript">
      if (window.location.hostname && window.location.hostname == 'localhost') {
        var disqus_developer = 1;
        var disqus_url = "http://matthewtodd.org{{ page.url }}";
      }
    </script>

    <script type="text/javascript" src="http://disqus.com/forums/matthewtodd/embed.js"></script>

    <noscript>
      <p><a href="http://disqus.com/forums/matthewtodd/?url=ref">View comments on disqus&hellip;</a></p>
    </noscript>
  </section>
</body>
</html>
